
ion-button[color="warning"] {
    --background: #f0ad4e;  
    --border-radius: 5px;   
    --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);  
  }
  
  ion-button[color="danger"] {
    --background: #d9534f;  
    --border-radius: 5px;   
    --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);  
  }
  